{% extends 'core/base.html' %}

{% block background %} {% load static %} {% static 'core/img/contact-bg.jpg' %} {% endblock %}

{% block title %} Contacto {% endblock %}

{% block headers %} 
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row">   
    <div class="col-lg-8 col-md-10 mx-auto">
              <p><b>Email:</b> varelaoriana2@gmail.com</p>
              <p><b>Teléfono:</b> +054 11 58766893</p>
              <p><b>Honorarios:</b> 60€/h (precio base)</p>
    </div>
</div>

{% endblock %}